<app-nav></app-nav>

 <!-- main statrt -->
 <main>
    <!-- section hero start -->
    <section>
        <div class="hero">
            <div class="bg-hero"></div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h1>Your Business Find 
                            Better Solution</h1>
                            <p>Fusce suscipit, velit id scelerisque tempus, 
                                enim est congue orci, eu sodales <br> turpis tellus non elit.
                                 Cras hendrerit auctor cursus.</p>
                                 <a href="" class="btn btn-service">Our Services</a>
                    </div>
                </div>

            </div>  
        </div>
    </section>
    <!-- section hero end -->


    <!-- section about us start -->
    <section class="container p-5 about-container">
        <div class="row about-section">
            <div class="col-6 about-image">
                <img src="../../../assets/homeAssets/assets/images/about_img2.png" alt="">
            </div>
            <div class="col-6 about-des">
                <h2 style="font-weight: bold;">
                    This company <span>25 years</span> experiens We provied solution grow bussines
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, justo nunc orci donec 
                    sagittis metus dapibus, erat ullamcorper odio augue eleifend, consequat 
                    enim ullamcorper magnis dignissim nec phasellus, Lorem ipsum dolor sit amet, 
                    justo nunc orci donec .
                    Phasellus ligula diam, rhoncus a tincidunt in, auctor non est. 
                    Nulla eleifend nibh sodales,
                    ut hendrerit nisi egestas ipsum dolor sit amet adipiscing elseait.
                </p>
                <a href="about.html"> <button class="btn about-more">About More</button> </a>
            </div>
        </div>
    </section>
    <!-- section about us end -->

    <!-- section counter start -->
    <section class="container">
        <div class="row section-count">
            <div class="col-lg-3 col-sm-6 card-count">
                <i class="fa-solid fa-sack-dollar"></i>
                <h2>900</h2>
                <p>Revenue</p>
            </div>
            <div class="col-lg-3 col-sm-6 card-count">
                <i class="fa-solid fa-users"></i>
                <h2>900</h2>
                <p>Happy Clints</p>
            </div>
            <div class="col-lg-3 col-sm-6 card-count">
                <i class="fa-solid fa-credit-card"></i>
                <h2>900</h2>
                <p>Credit Card</p>
            </div>
            <!-- <div class="col-lg-3 col-sm-6 card-count">
                <i class="fa-solid fa-credit-card"></i>
                <h2>900</h2>
                <p>Credit Card</p>
            </div> -->
        </div>
    </section>
    <!-- section counter end -->

    <!-- section loans start -->
    <section class="container">
        <div class="row loan-des">
            <h2 style="font-weight: bold;">Ours Services</h2>
            <p>Vestibulum sed eros vitae libero faucibus 
                fermentum a efficitur velit. Etiam quis 
                ligula luctus, <br>
                 venenatis justo quis, laoreet nisl.</p>
        </div>
        <div class="row loan-cards">
            <div class="col-lg-3 col-sm-6 loan-card"> 
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h2>Car Loan</h2>
                <p>
                    Get started with your favorite 
                    car right away with 50% financing!
                </p>
                <a class="btn" style="width: fit-content;" href="">More</a>
            </div>
            <div class="col-lg-3 col-sm-6 loan-card">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h2>Car Loan</h2>
                <p>
                    Get started with your favorite 
                    car right away with 50% financing!
                </p>
                <a class="btn" style="width: fit-content;" href="">More</a>

            </div>
            <div class="col-lg-3 col-sm-6 loan-card">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h2>Car Loan</h2>
                <p>
                    Get started with your favorite 
                    car right away with 50% financing!
                </p>
                <a class="btn" style="width: fit-content;" href="">More</a>

            </div>
        </div>
    </section>
    <!-- section loans end -->


    <!-- section employee start -->
    <section class="container">
        <div class="row employee-des">
            <h2 style="font-weight: bold;">Our Employees</h2>
            <p>Vestibulum sed eros vitae libero faucibus fermentum a efficitur velit. <br> Etiam quis ligula luctus, 
                venenatis justo quis, laoreet nisl.</p>
        </div>
        <div class="row employee-card">
            <div class="col-lg-4 col-sm-6" *ngFor="let c of cards.cards">
                <div class="row">
                    <div class="emp-img col-12">
                        <img src="../../../assets/Images/{{c.photo}}" alt="">
                    </div>
                    <div class="emp-des">
                        <h2>{{c.name}}</h2>
                        <p> {{c.email}} </p>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
    <!-- section employee end -->

    <!-- section testimonial strart-->
    <section class="container">
        <div class="row employee-des">
            <h2 style="font-weight: bold;">Our Clients</h2>
            <p>Vestibulum sed eros vitae libero faucibus fermentum a efficitur velit. <br> Etiam quis ligula luctus, 
                venenatis justo quis, laoreet nisl.</p>
        </div>
        <div class="container testimonial-container">
            <div class="prev-tesimonial">
                <button id="prev-testimonial"> <i class="fa-solid fa-angles-left"></i> </button>
            </div>
            <div class="next-testimonial">
                <button id="next-testimonial"> <i class="fa-solid fa-angles-right"></i> </button>
            </div>
            <div class="container-cards">
                <div class="testimonial-container-cards" id="sildes">
                
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/employee-imge.jpg" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/emp-image.webp" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/emp-img.jpg" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/emp-img.jpg" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/emp-img.jpg" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/emp-img.jpg" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/emp-img.jpg" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/about_img2.png" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                    <div class="card-testimonial">
                        <div class="card-testimanial-message">
                            <img src="../../../assets/homeAssets/assets/images/qt-icon.png" width="50px" height="50px" alt="">
                            <p>
                                From banking and  insurance to wealth manage ent and securities distribution, 
                                we dedicate financial on services the teams serve all major sectors.
                            </p>
                        </div>
                        <div class="card-testimanial-info">
                            <img src="../../../assets/homeAssets/assets/images/about_img2.png" width="150px" height="100px" alt="">
                            <h4>Ahmad Reda</h4>
                        </div>
                    </div>
                   
                </div>
            </div>
           
        </div>
    </section>
    <!-- sectio testimonial end -->
    
    <!-- section contact start -->
    <section class="container" style="margin-top: 100px;">
        <div class="row contact-des">
            <h2 style="font-weight: bold;">Request a call back.</h2>
        </div>
        <div class="container row contact-container">
            <div class="col-12 container">
                <form action="">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Phone">
                    <textarea name="" placeholder="Write Message..." rows="4" id=""></textarea>
                    <button type="submit" class="submit">Send</button>
                </form>
            </div>
        </div>
    </section>
    <!-- section contect end -->      
</main>

<!-- main end -->

<app-foot></app-foot>
