    <!-- header start -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <h2>RAN Bank</h2>
            </div>
            <div class="list-item">
                <ul>
                    <li> <a routerLink="">Home</a> </li>
                    <li> <a href="about.html">About Us</a> </li>
                    <li> <a href="contact.html">Contact Us</a> </li>
                    <li> <a routerLink="/busniss">Busniss Cards</a> </li>
                    <li> <button href="" id="menu">  <i class="fa-solid fa-ellipsis-vertical"></i> </button> </li>
                </ul>
                <button href="" class="menu" id="menuRes" style="display: none;">  <i class="fa-solid fa-ellipsis-vertical"></i> </button>
            </div>

            <div class="menu-right" id="menu-disabl">
                <button id="menu-right">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>
                <!-- <a href="" > <i class="fa-solid fa-circle-xmark"></i> </a> -->
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <hr>
                    <li> <a href="about.html">About Us</a> </li>
                    <hr>
                    <li> <a href="contact.html">Contact Us</a> </li>
                    <hr>
                    <li> <a href="service.html">Services</a> </li>
                    <hr>
                    <li> <a href="login.html">Login</a> </li>
                   <hr>
                    
                </ul>
               <div>
                <a href="">0777777</a> 
                <hr>
                <a href="">ranexample.com</a>
                <hr>
               </div>
            </div>
        </nav>
    </header>

    <!-- header end -->