   <!-- footer start -->
   <footer>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="logo">
                <h2>RAN Bank</h2>
            </div>
            <div class="social">
                <p> <i class="fa-solid fa-phone"></i> 0777777 </p>
                <p> <i class="fa-solid fa-envelope"></i> ranexample.com </p>
                <p> <i class="fa-solid fa-location-dot"></i> Jordan-Irbid </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="logo">
                <h5>Our Links</h5>
            </div>
            <div class="links">
                <ul>
                    <li> <a href="">Home</a> </li>
                    <li> <a href="">About us</a> </li>
                    <li> <a href="">Contact us</a> </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="logo">
                <h5>Our Services</h5>
            </div>
            <div class="links">
                <ul>
                    <li> <a href="">Services</a> </li>
                    <li> <a href="">Loans</a> </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="logo">
                <h5>Subscribe To Our Newsletter</h5>
            </div>
            <div class="links form">
               <form action="">
                <input type="email" placeholder="Email">
                <button class="submit">Send Now</button>
                <!-- <input type="submit" class="submit" value="Send Now"> -->
               </form>
               <div class="social">
                <i class="fa fa-facebook-f"></i>
                <i class="fa fa-instagram"></i> 
                <i class="fa fa-twitter"></i>
            </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->